# AuthService
AUTHSERVICE_PORT=8000
AUTHSERVICE_DATABASE_URL=postgresql://authuser:password@authdb/authdb

# AdminService
ADMINSERVICE_PORT=8001
ADMINSERVICE_DATABASE_URL=postgresql://adminuser:password@admindb/admindb

# AuthService variables
AUTH_SERVICE_URL=http://authservice:8000
SECRET_KEY=your secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# AuthDB
AUTHDB_PORT=5433
AUTHDB_USER=authuser
AUTHDB_PASSWORD=password
AUTHDB_NAME=authdb

# AdminDB
ADMINDB_PORT=5434
ADMINDB_USER=adminuser
ADMINDB_PASSWORD=password
ADMINDB_NAME=admindb

ADMIN_SERVICE_URL=http://adminservice:8001

# Validation Service
VALIDATIONSERVICE_PORT=50051

# RabbitMQ
RABBITMQ_PORT=5672
RABBITMQ_HOST=rabbitmq
RABBITMQ_QUEUE=q1
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=rabbitmq

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=auth_db
DATABASE_URL=postgresql://postgres:postgres@db:5432/auth_db

# Docker compose settings
DB_PORT=5432
APP_PORT=8001